html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =====================================通用========================================= */

#w100 {
    width: 100%;
}
.row{
    display: flex;
    width: 1180px;
    margin-left: auto;
    margin-right: auto;    
}
.wrap{
    flex-wrap: wrap;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.w60{
    width: 60%;
}
.w30{
    width: 30%;
}
.w10{
    width: 10%;
}
.magincent{
    margin: auto;
}
.ml20{
    margin-left: 40px;
}
.relative{
    position: relative;
}

.cnet{
    margin-left: auto;
    margin-right: auto;
}
.flex-grow{
    flex-grow: inherit;
}
.mb10{
    margin-bottom: 10px;
}
.sbt{
    justify-content: space-between;
    
}
/* =====================================通用========================================= */

/* =====================================主體========================================= */
.container {
    width: 1180px;
    height: 6459px;
    margin: 0px auto;
    padding:0 40px;
}

/* =====================================主體========================================= */

/* =====================================nav========================================= */
#navWrapper{
    width: 1180px;
    height: 105px;   
    width: 100%;
    
}

.search{
    
    width: 190px;
    float: left; 
   }
   .search-bar{
    width: 190px;
    height: 27px;
    font-size: 10px;
    border: 1px solid #bfbfbf;   
    margin-top: 32px;     
    }
    .search-btn{
        color: #bfbfbf;
        width: 36px;
        height: 27px;
        background-color:transparent;
        color:#efe9e7;
        outline:none;
        border: none;
        cursor: pointer; 
        position: absolute;
       right: 0px;
       bottom: 0px;
       }
.navmenu a{
    color: #a9a9a9;
    text-decoration: none;
    font-size: 18px;    
}
.navfunction {
    text-align: right;    
}
.navfunction a{
    color: #4D3126;
    text-decoration: none;
    font-size: 13px;
}

/* =====================================nav========================================= */
/* =====================================圖片輪播========================================= */
.slider-dots {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
.slider-dots li {
    width: 10px;
    height: 10px;    
    margin: 5px;
    border-radius: 20px;
    background-color: white;
}
.left_btn {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 30px;
    color: #bfbfbf;
    font-size: 2rem;
    font-weight: bolder;
    background-color:transparent ;
    line-height: 30px;
    padding-left: 3px;    
    cursor: pointer;
}

.right_btn {
    position: absolute;
    top: 50%;
    right: 0;
    width: 25px;
    height: 30px;
    color: #bfbfbf;
    font-size: 2rem;
    font-weight: bolder;
    background-color:transparent ;
    line-height: 30px;
    padding-left: 5px;
    cursor: pointer;
}
/* =====================================圖片輪播========================================= */
/* =====================================功能選單
========================================= */
.box{
    flex-grow: 1;    
}


/* =====================================功能選單
========================================= */
/* =====================================圖片區
========================================= */
.align-items-stretch{
    align-items: stretch;
}
.divimg div{
    margin-bottom: 15px;
}
/* =====================================圖片區
========================================= */
/* =====================================Footer
========================================= */
.footer{
    width: 1180px;
    height: 46.3px;
}
.footbox{
   
    height: 101px;    
}
.footbox a{
    text-align: right;
    color: #4D3126;
    text-decoration: none;
    font-size: 13px;
}
.footbox ul{
    margin-top: 30px;
    
}

 


